{% extends "activities/chat.html" %} {% block metatags %}
<meta name="description" content="Cards against humanity" />
{% endblock %} {% block scripts %} {{ super() }}
<!-- css -->
<link
    href="{{ url_for('static', filename='css/cah.css') }}"
    type="text/css"
    rel="stylesheet"
/>
{% endblock %} {% block contents %} {{ super() }}

<button class="btn btn-secondary" id="readyButton">Ready</button>

<black-card>Co jest kolejną modną dietą?</black-card>
Available cards:
<div class="card-container">
    <white-card>Głód.</white-card>
    <white-card
        >Opowiadanie dowcipów o żydach w nieodpowiednim momencie.</white-card
    >
    <white-card
        >To uczucie, gdy wydaje Ci się, że to tylko beknięcie, a okazuje się, że
        to rzyg.</white-card
    >
    <white-card>Zamrażarka pełna organów.</white-card>
    <white-card
        >Zrzucane żyrandolu na przeciwników i wjeżdżanie do góry po
        linie.</white-card
    >
</div>

<script src="{{url_for('static',filename='js/cah.js')}}"></script>
{% endblock %}
