<footer class="footer mt-auto py-3" style="background-color: #e9ecef;">
	<div class="container">
		<p class="text-center mb-0">
			<a href="{{url_for('bl_lobby.privacy')}}" class="small">Privacy Notice</a> |
			<a href="{{url_for('bl_lobby.terms_of_service')}}" class="small">Terms of Service</a> |
			<a href="javascript:open_cookie_alert();" rel="nofollow" class="small text-bold">Cookie Settings</a>
		</p>
		<p class="text-center mb-0">
			Copyright &copy; <script>document.write(new Date().getFullYear())</script> Motwg All Rights Reserved
		</p>
	</div>
</footer>
