.cah-card {
    border-style: outset;
    border-radius: 10% 25%;
    cursor: pointer;
    display: block;

    width: 140px;
    height: 225px;
    padding: 6px;
    margin: 5px;
}

.card-container {
    display: flex;
}

.card-container:focus-within {
    outline: 0.2em solid blue;
}

black-card {
    background-color: black;
    color: white;
}

white-card:hover {
    background-color: ivory;
}

white-card {
    background-color: white;
    color: black;
}

input:checked + label > white-card {
    color: red;
    outline: 0.4em solid darkseagreen;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
