.cah-card {
    border-style: outset;
    border-radius: 5% 5%;
    border-width: 1px, 4px, 4px, 1px;
    border-color: black;
    box-shadow: 5px 5px, 0 6px 20px 0 rgba(0, 0, 0, 0.4);

    cursor: pointer;
    display: block;

    font-size: 14px;
    width: 125px;
    height: 190px;
    padding: 8px;
    margin: 7px;
}

.upper-row .cah-card {
    font-size: 16px;
    width: 180px;
    height: 250px;
    padding: 12px;
    margin: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card-container > .btn {
    margin: 5px;
    align-self: center;
}

.upper-row {
    display: flex;
    justify-content: start;
}

.upper-row > .btn {
    margin: 5px;
    align-self: center;
}

black-card {
    background-color: black;
    color: white;
}

white-card {
    background-color: white;
    color: black;
    transition: transform .2s;
}

label:has(white-card)::before {
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: -25px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 43px;
    font-size: 35px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label:has(white-card) {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

label:has(white-card.checked) {
    transform: scale(0.9);
    box-shadow: inset 0 0 10px darkorange;
}

label:has(white-card):hover {
    transform: scale(1.5);
}

label:has(white-card.checked)::before {
    content: "✓";
    background-color: darkorange;
    transform: scale(1);
}

.dimmed-confirm,
.dimmed-master {
    position: relative;
}

.dimmed-master:before {
    content: "You are the master now!";
    font-weight: bold;
    font-size: 15pt;
    color: #fff;
    justify-content: center;
    align-items: center;

    z-index: 10;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.dimmed-confirm:before {
    content: "Your cards are confirmed!";
    font-weight: bold;
    font-size: 15pt;
    color: #fff;
    justify-content: center;
    align-items: center;

    z-index: 10;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}
