.cah-card {
    border-style: outset;
    border-radius: 10% 25%;
    border-width: 5px;
    border-color: black;

    cursor: pointer;
    display: block;

    width: 180px;
    height: 280px;
    padding: 12px;
    margin: 10px;

    font-size: 18px;
}

.card-container {
    display: flex;
    justify-content: center;
}

.card-container > .btn {
    margin: 5px;
    align-self: center;
}

.upper-row {
    display: flex;
    justify-content: space-between;
}

.upper-row > .btn {
    margin: 5px;
    align-self: center;
}

black-card {
    background-color: black;
    color: white;
}

white-card:hover {
    background-color: ivory;
}

white-card {
    background-color: white;
    color: black;
}

label:has(white-card)::before {
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: -25px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 43px;
    font-size: 35px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label:has(white-card) {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

label:has(white-card.checked) {
    transform: scale(0.9);
    box-shadow: inset 0 0 10px palevioletred;
}

label:has(white-card.checked)::before {
    content: "✓";
    background-color: palevioletred;
    transform: scale(1);
}

.dimmed-confirm,
.dimmed-master {
    position: relative;
}

.dimmed-master:before {
    content: "You are the master now!";
    font-weight: bold;
    font-size: 15pt;
    color: #fff;
    justify-content: center;
    align-items: center;

    z-index: 10;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.dimmed-confirm:before {
    content: "Your cards are confirmed!";
    font-weight: bold;
    font-size: 15pt;
    color: #fff;
    justify-content: center;
    align-items: center;

    z-index: 10;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: calc(100% - 450px);
    justify-content: center;
    padding: 20px;
}
