.sidebar {
    position: fixed;
    top: 68px;
    right: 0;
    height: 100%;
    width: 370px;
    margin-left: auto;
    padding-top: 0px;
    /*background-color: rgb(255, 191, 121);*/
    background-image: linear-gradient(232deg, white, #fd7e14 70%, #fd7e14);
    animation-name: myAnimation;
    animation-duration: 4s;
    box-shadow: #fff;
    transition: 1s;
}

.sidebar .nav-link {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10px 20px;
    color: black;
}

.sidebar .nav-link:hover {
    background-color: whitesmoke;
}

a div:has(#message) {
    display: flex;
    align-items: center;
}

.form-outline:has(#messages) {
    width: 100%;
}

.list-group {
    width: 100%;
}

.sidebar .toggle-sidebar {
    display: flex;
    flex-direction: column;
}

.sticky-right {
  position: relative;
  left: -60px;
  width: auto;
}

/*@media screen and (max-width: 650px) {
  .sidebar {width: 400px;}
  .sidebar a, .sidebar .btn {font-size: 12px;}
}*/
