.sidebar {
    position: fixed;
    top: 68px;
    right: 0;
    height: 100%;
    width: 400px;
    padding-top: 0px;
    background-color: rgb(255, 191, 121);
    box-shadow: #fff;
    transition: width 0.3s;
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 20px;
    padding: 10px 20px;
    color: black;
}

.sidebar .nav-link:hover {
    background-color: skyblue;
}

.nav-link .content {
    justify-self: flex-end;
}
